<h1>Add a new movie!</h1>

<form action="/movies/new" method="get">
  <label for="title">Search by movie title</label><br/>
  <input type="string" name="title">
  <button>Search</button>
</form>

<% unless @movies.nil? %>
<ol>
  <% @movies.each do |movie| %>
    <li>
      <h3><%= movie.title %></h3>
        <ul>
          <li><%= image_tag movie.poster %></li>
          <li>Year: <%= movie.year %></li>
          <li>Plot: <%= truncate(movie.plot, length: 50) %></li>
          <li>MPAA Rating: <%= movie.mpaa_rating %></li>
          <li>Length: <%= pluralize(movie_length_hours(movie), 'hour') %> and <%= pluralize(movie_length_minutes(movie), 'minute') %></li>
        </ul>

    </li>
  <% end %>
</ol>
<% end %>
